{
  "presets": [
    ["es2015", { "modules": false }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx"],
  "comments": false,
  "env": {
    "production": {
      "plugins": ["transform-runtime"]
    }
  }
}
