.ui-logo-banner {
  padding: size(24) 0;
  text-align: center;
  .ui-logo-icon {
    display: inline-block;
    width: size(80);
    height: size(80);
    background: #fff url('~assets/imgs/logo-circle.png') no-repeat center;
    background-size: cover;
    border-radius: 100%;
  }
  .ui-logo-title {
    margin-top: size(8);
    font-size: size(20);
    font-weight: 300;
  }
}
