.ui-hiding {
  animation: fadeOut .3s ease both;
}

.ui-modal-overlay {
  position: fixed;
  display: flex;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.ui-mask {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .4);
  animation: fadeIn .3s ease;
}

.ui-modal {
  position: relative;
  z-index: 5000;
  width: 88%;
  max-width: size(300);
  max-height: 96%;
  font-size: size(12);
  background-color: #feffff;
  box-shadow: 0 size(6) size(12) rgba(0, 0, 0, .43);
  border-radius: size(10);
  animation: fadeIn .3s ease;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.ui-modal-hd {
  padding: size(22) size(30) size(8);
  .ui-modal-title {
    line-height: 1.25;
    font-size: 1.25em;
    font-weight: 400;
    color: $gray-title;
  }
}

.ui-modal-bd {
  padding: 0 size(30) size(22);
  word-break: break-all;
}

.ui-modal-ft {
  padding: size(6.4) size(16);
  width: 100%;
  border-top: 1px solid $gray-border;
  text-align: right;
  .ui-modal-button {
    position: relative;
    display: inline-block;
    padding: size(6.4) size(16);
    border: none;
    font-size: 1.25em;
    line-height: 1.25;
    color: $primary;
    background-color: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    appearance: none;
    cursor: pointer;
    &:active {
      color: $primary-click;
    }
    &:disabled {
      transition: color .24s ease;
      color: $gray-disabled;
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
